body {
  font-family: sans-serif;
  margin: 1em auto;
  padding: 0 0.75em;
}
h1, h2 {
  text-align: center;
}
h1 {
  margin: 0.1ex 0;
}
h1#custom-headline {
  font-style: italic;
  font-weight: normal;  
}
h2#headline {
  font-size: 110%;
  margin-top: 0.1ex;
  margin-bottom: 0.1em;
  font-style: italic;
}
#powered-by {
  text-align: right; 
  font-style: italic; 
  margin-right: 2em; 
  margin-bottom: 1ex;
  font-size:70%;
}
#logo-container {
  text-align: center;
  margin: 0.75em 0;
}
#Reply-Message {
  margin: 1em;
  font-family: monospace;
  text-align: center;
}
#form-container {
  text-align: center;
}
#form-container table {
  margin: 1em auto 0.5em auto;
}
#form-container table tr th {
  text-align: left;
}
#logInLogOut-container {
  padding: 0;
  margin: 0 0 0.5em 0;
  text-align: center;
  line-height: 1.6em;
}
#logInLogOut-container a {
  margin: 0 0.5ex;
}
#status-container {
  text-align: center;
}
#status-table {
  font-size: 90%;
  margin: 0.5em auto;
}
#status-table th {
  text-align: left;
}
#status-table td {
  text-align: right;
}
#status-table th, #status-table td {
  background: #eef;
}
#status-table th.optinfo {
  font-size: 90%;
  font-style: italic;
}
#submit-container {
  text-align: left;
}
#submit-container button, #submit-container input[type="submit"] {
  width: 4.5em;
  margin-top: 0.3em;
}
#custom-text {
  font-size: 94%;
  padding: 0 1ex;
  margin-bottom: 1.5em;
}
#custom-footer {
  margin-top: 2.6em;
  font-size: 90%;
}

/* button, input[type="submit"] {
  background: white;
} */

#signup-container{
  font-style:italic;
  font-weight: normal;
  margin-top:0.2em;
}

a#signup {
  border: none;
  color: white;
  background: #77f;
  padding: 0 0.2em 0.1em 0.2em;
  font-style:normal;
}

a#signup {
  text-decoration: none;
  margin-left: 0.2em;
}

a img {
  border: none;
}
