h1, h2 {
  text-align: center;
  font-family: sans-serif;
  margin: 0.1ex 0;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 135%;
  font-style: italic;
}

#powered-by {
  text-align: right; 
  font-style: italic; 
  margin-right: 3em; 
  font-family: sans-serif; 
  font-size:smaller;
}

#logo-container {
  text-align: center;
  margin: 0 0;
}
#form-container {
  text-align: center;
}
#form-container th {
  text-align: left;
}
#logInLogOut-container {
  padding: 0;
  margin: 0.5em 0;
  text-align: center;
}
#status-container {
  text-align: center;
  border: 1px blue solid;
  margin: 0;
}
#status-table th {
  text-align: left;
}
#status-table td {
  text-align: right;
}
#status-table th.optinfo {
  font-size: smaller;
  font-style: italic;
}

