body {
  font-size: 13pt;
  font-family: sans-serif;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 140%;
  margin: 0.1ex 0;
}
h1#custom-headline {
  font-style: italic;
  font-weight: normal;  
}
h2 {
  font-size: 125%;
  margin-top: 0.1ex;
  margin-bottom: 0.5ex;
  font-style: italic;
}
#powered-by {
  text-align: right; 
  font-style: italic; 
  margin-right: 2em; 
  margin-bottom: 1ex;
  font-size:70%;
}
#logo-container {
  text-align: center;
  margin: 0.75em 0;
}
#Reply-Message {
  margin: 1em;
  font-family: monospace;
  text-align: center;
}
#form-container {
  text-align: center;
}
#form-container table {
  margin: 1em auto 0.5em auto;
}
#form-container table tr th {
  text-align: left;
}
#logInLogOut-container {
  padding: 0;
  margin: 0.5em 0;
  text-align: center;
  font-size: 110%;
}
#logInLogOut-container a {
  margin: 0 0.5ex;
}
#status-container {
  text-align: center;
  margin: 0 0 1em 0;
}
#status-table {
  margin: auto;
  border: 1px blue solid;
  padding: 0.5ex;
  font-size: 90%;
}
#status-table th {
  text-align: left;
}
#status-table td {
  text-align: right;
}
#status-table th.optinfo {
  font-size: 90%;
  font-style: italic;
}
#submit-container {
  text-align: left;
}
#submit-container button, #submit-container input[type="submit"] {
  width: 4.5em;
  font-size:105%;
}
#custom-text {
  font-size: 94%;
  padding: 0 1ex;
  margin-bottom: 1.5em;
}
#custom-footer {
  margin-top: 2.6em;
  font-size: 90%;
  text-align: center;
}

/* button, input[type="submit"] {
  background: white;
} */

a img {
  border: none;
}

#signup-container{
  font-size:110%;
  font-style:italic;
  font-weight: normal;
}

a#signup {
  color: white;
  background: #88f;
  padding: 0 0.2em 0.1em 0.2em;
  text-decoration: none;
  font-style:normal;
}

th {
  font-size: 90%;
}
