%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %div{:style => 'text-align: right; font-style: italic; margin-right: 3em; font-family: sans-serif;'}
    hotspotlogin.rb

  %div#main
    =yield
