<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div style='text-align: right; font-style: italic; margin-right: 3em; font-family: sans-serif;'>
      hotspotlogin.rb
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>


